<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="w-[75%] mx-auto md:w-[65%] lg-[55%] xl:w-[40%] mt-3 relative">
    <div class="flex flex-col justify-center">
      <h2 class="mt-5 text-3xl text-blue-500">Sign into book buddy</h2>

      <div class="flex flex-col gap-5 mt-5 md:flex-row">
        <div class="space-y-5 md:flex-1">        
          <form action="/login" method="POST" class="space-y-5" id="loginForm">
            <div class="flex flex-col space-y-1">
              <label for="email" class="text-sm font-semibold">Email*</label>
              <input type="email" name="email" id="email" class="border border-gray-400 h-14 rounded-lg outline-2 outline-transparent pl-4 text-lg placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] <% if (errorMessage) { %> border-red-400 focus:outline-red-400 <% } %>" placeholder="Your email address" required style="transition: outline 0.7s ease-in-out" value="<% if (oldInput) { %><%= oldInput.email %><% } %>">
            </div>

            <div class="flex flex-col space-y-1 relative">
              <label for="password" class="text-sm font-semibold">Password*</label>
              <input type="password" name="password" id="password" class="border border-gray-400 h-14 rounded-lg outline-2 outline-transparent pl-4 text-lg placeholder:text-base text-gray-500 focus:outline-2 focus:outline-[#0052FF] <% if (errorMessage) { %> border-red-400 focus:outline-red-400 <% } %>" placeholder="Minimum 8 characters" required style="transition: outline 0.7s ease-in-out" value="<% if (oldInput) { %><%= oldInput.password%><% } %>">
              <% if (errorMessage) { %>
                <p class="text-sm text-red-600"><%= errorMessage %></p>
              <% } %>

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 cursor-pointer absolute top-[35%] right-5" onclick="showPW(this)" id="showPW">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 cursor-pointer absolute top-[35%] right-5 hidden" onclick="hidePW(this)" id="hidePW">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>


              <p class="font-semibold text-blue-500 cursor-pointer">
              <a href="/reset">Forgot password?</a>
            </p>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <button class="border border-[#0052FF] rounded-full w-full h-14 bg-[#0052FF] text-white text-lg font-semibold hover:shadow-2xl hover:-translate-y-[0.1rem]" id="loginButton" type="submit" onclick="handleLogin()">Login</button>
          </form>
        </div>
      </div>
    </div>
    </main>
<%- include('../includes/end.ejs') %>
